{% extends "layout.njk" %}

{% block content %}
    <div class="card">
        <section class="avatar">

        </section>

        <section class="details">
            <h3>Detalhes</h3>

            <div class="item">
                <div>Nome Completo</div>
                <div>Márcia Alagoana</div>
            </div>

            <div class="item">
                <div>Idade</div>
                <div>32</div>
            </div>

            <div class="item">
                <div>Grau de Escolaridade</div>
                <div>Doutorado</div>
            </div>

            <div class="item">
                <div>Tipo de aula</div>
                <div>Presencial</div>
            </div>

            <div class="item">
                <div>Acompanhamento</div>
                <div>
                    <span>Matemática</span>
                    <span>Física</span>
                </div>
            </div>

            <div class="item">
                <div>Desde</div>
                <div>20/07/2020</div>
            </div>
        </section>
    </div>
{% endblock %}