<div class="item">
    <div>Avatar URL</div>
    <div>
        <input type="url" name="avatar_url" value=" {{teachers.avatar_url}} ">
    </div>
</div>

<div class="item">
    <div>Name</div>
    <div>
        <input type="text" name="name" value=" {{teachers.name}} ">
    </div>
</div>

<div class="item">
    <div>Date of birth</div>
    <div>
        <input type="date" name="birth" value=" {{teachers.birth}} ">
    </div>
</div>

<div class="item">
    <div>Education level</div>
    <div class="select">
        <select name="edu_level" value=" {{teachers.edu_level}} ">
            <option value="Complete HS">Complete High School</option>
            <option value="Complete College">Complete College</option>
            <option value="Master's degree">Master's degree</option>
            <option value="Doctorate degree">Doctorate degree</option>
        </select>
    </div>
</div>

<div class="item">
    <div>Type class</div>
    <div>
        <span>
            <input type="radio" name="type_class" value="Presential">
            Presential
        </span>

        <span>
            <input type="radio" name="type_class" value="Remotely">
            Remotely
        </span>

    </div>
</div>

<div class="item">
    <div>Occupation area</div>
    <div>
        <input type="text" name="area" value=" {{teachers.area}} ">
    </div>
</div>